@using QRMENU.Models.Entity
@model List<SosyalMedyalar>
@{
    ViewBag.Title = "SosyalMedyalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <B>CAFELER</B> / SOSYAL MEDYA LİSTESİ</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <b>@ViewBag.cafead</b> / SOSYAL MEDYA LİSTESİ<a href="/Cafe/YeniSosyalMedya/@ViewBag.cafeid" class="btn btn-primary float-right">Yeni Sosyal Medya Ekle</a></h6>

        </div>
        <div class="card-body">
            <asp:Repeater id="Repeater1" runat="server">
                <ItemTemplate>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>SOSYAL MEDYA ADI</th>
                                    <th>LİNK</th>
                                    <th>DURUM</th>
                                    <th>İŞLEM</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var sosyal in Model)
                                {
                                    <tr>
                                        <td>@sosyal.Ad</td>
                                        <td>@sosyal.Link</td>
                                        <td style="color: @(sosyal.Durum.HasValue && sosyal.Durum.Value ? "green" : "red")">
                                            @(sosyal.Durum.HasValue ? (sosyal.Durum.Value ? "AKTİF" : "PASİF") : "N/A")
                                        </td>
                                        <td>
                                            <a href="/Cafe/SosyalMedyaSil/@sosyal.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                            <a href="/Cafe/SosyalMedyaGetir/@sosyal.ID" class="btn btn-primary">GÜNCELLE</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </ItemTemplate>
            </asp:Repeater>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
