@using QRMENU.Models.Entity
@model List<Urunler>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .whatsapp-btn,
    .scroll-to-top-btn {
        position: fixed;
        bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 20%;
        color: #fff;
        text-align: center;
        font-size: 20px;
        z-index: 1000;
    }

    .whatsapp-btn {
        background-color: #25D366;
        right: 80px;
        padding: 15px;
    }

    .scroll-to-top-btn {
        background-color: brown;
        right: 20px;
        padding: 15px;
    }

    .btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

        .btn-container a {
            margin-bottom: 5px;
        }
</style>

<section class="page-section">
    <div class="container">

        @foreach (var category in Model.Select(u => u.Kategoriler.Ad).Distinct())
        {
            <div class="product-item" id="@category">
                <div class="product-item-title d-flex mt-5 mb-2">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Muhteşem Lezzetler</span>
                            <span class="section-heading-lower">@category</span>
                        </h2>
                    </div>
                </div>
                <div class="bg-faded p-5 rounded">
                    @foreach (var product in Model.Where(u => u.Kategoriler.Ad== category))
                    {

                        <div class="row">
                            <div class="col">
                                <div class="card mb-3" style="max-width: 500px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="@product.Resim" style="width: auto; height: auto;" class="img-fluid rounded-start mt-0 " alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">@product.Ad</h5>
                                                <p class="card-text">@product.Aciklama</p>
                                                <p class="card-text"><b>@product.Fiyat ₺</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>

