@using QRMENU.Models.Entity
@model List<Urunler>
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> <B>ÜRÜNLER</B> / ÜRÜN LİSTESİ</h1>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Ürün Listesi        <a href="/Urunler/YeniUrun/" class="btn btn-primary float-right">Yeni Ürün Ekle</a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ÜRÜN RESMİ</th>
                            <th>ÜRÜN AD</th>
                            <th>FİYAT</th>
                            <th>KATEGORİ</th>
                            <th>DURUM</th>
                            <th>İŞLEM</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var urun in Model)
                        {
                            <tr>
                                <td><img src="@urun.Resim" alt="Product Image" style="max-width: 100px; max-height: 100px;" /></td>
                                <td>@urun.Ad</td>
                                <td>@urun.Fiyat ₺</td>
                                <td>
                                    @if (@urun.Kategoriler != null)
                                    {
                                        @urun.Kategoriler.Ad
                                    }
                                    else
                                    {
                                        @: (Kategori Yok)
                                    }
                                </td>
                                <td>
                                    @if (@urun.Durum == true)
                                    {
                                        <span class="text-success">AKTİF</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">PASİF</span>
                                    }
                                </td>
                                <td>
                                    <a href="/Urunler/UrunSil/@urun.ID" class="btn btn-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">SİL</a>
                                    <a href="/Urunler/UrunGetir/@urun.ID" class="btn btn-primary">GÜNCELLE</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
